{% load i18n static %}
{% load sass_tags %}
<!doctype html>
<html lang="en-us">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/style.sass' %}">
  {% block extracss %}{% endblock %}

  <title>Tache's Blog</title>
</head>

<body>
  <!-- nav bar -->
  {% include 'myblog/widgets/nav.html' %}

  <!-- Page content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h2 class="my-4">Page heading
          <small>Secondary Text</small>
        </h2>

        <!-- Blog post -->
        {% block content %}
        {% endblock %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        {% include 'myblog/widgets/search.html' %}

        <!-- Profile and links -->
        {% include 'myblog/widgets/profile.html' %}

        <!-- Categories Widget -->
        {% include 'myblog/widgets/category.html' %}

      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tache's blog 2019 All Rights Reserved.</p>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block extrajs %}{% endblock %}
</body>

</html>
