{% load mytag %}
<nav aria_label="Page navigation">
  <url class="pagination">

    <!-- 前ページが存在する場合 -->
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" class="page-link" aria_label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    <!-- リンクページの数だけページ数を表示する -->
    {% for link_page in page_obj.paginator.page_range %}
      {% if link_page == page_obj.number %}
        <li class="page-item active">
          <a href="?{% url_replace request 'page' link_page %}" class="page-link">
            {{ link_page }}
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a href="?{% url_replace request 'page' link_page %}" class="page-link">
            {{ link_page }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    <!-- 次ページが存在する場合 -->
    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="page-link" aria_label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}

  </url>
</nav>
