certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
dj-database-url==0.5.0
Django==2.1.5
django-appconf==1.0.3
django-compressor==2.2
django-heroku==0.3.1
django-markdownx==2.0.28
django-sass-processor==0.7.3
gunicorn==19.9.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
libsass==0.18.0
Markdown==3.1
moviepy==1.0.0
music21==5.5.0
numpy==1.16.3
Pillow==6.0.0
proglog==0.1.9
psycopg2==2.8.2
psycopg2-binary==2.8.2
pytz==2018.9
rcssmin==1.0.6
requests==2.21.0
rjsmin==1.0.12
six==1.12.0
tqdm==4.32.1
unroll==0.1.0
urllib3==1.24.3
whitenoise==4.1.2
